<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <title>Great Number Game</title>
</head>
<body>
    <div class="container">
        <div class="row header">
            <div class="col-md-12 text-center">
                <h1>The Great Number Game!</h1>
            </div>
        </div>
        <div class="row main">
            <div class="col-md-4"></div>
            <div class="col-md-4 text-center">
                <h4>Welcome to the great number game.
                    <br> I am thinking of a number between 1 - 100.
                    <br> Take a guess!
                </h4>
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <form action="/guess" method="post">
                        Take a Guess:
                        <div class="form-group">
                            <input type="number" name="guess" class="form-control text-center number-input" min="1" max="100"/>
                        </div>
                        <input type="submit" value="?" class="btn btn-primary">
                    </form>
                </div>
                <div class="col-md-4"></div>
            </div>
            <div class="col-md-4"></div>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="col-md-4"></div>
                <% if (guess < num && num - guess > 10) {%>
                    <div class="col-md-4 error text-center">
                        <h3>
                            Too Low!
                            <br>
                            Try something much higher!
                        </h3>
                    </div>
                <%} else if (guess < num && num - guess <= 10) {%>
                    <div class="col-md-4 error text-center">
                        <h3>
                            Too Low!
                            <br>
                            But you're getting close!
                        </h3>
                    </div>
                <%} else if (guess > num && guess - num > 10) {%>
                    <div class="col-md-4 error text-center">
                        <h3>
                            Too High!
                            <br>
                            Try something much lower!
                        </h3>
                    </div>
                <%} else if (guess > num && guess - num <= 10) {%>
                    <div class="col-md-4 error text-center">
                        <h3>
                            Too High!
                            <br>
                            But you're getting close!
                        </h3>
                    </div>
                <%} else if (guess == num) {%>
                    <div class="col-md-4 success text-center">
                        <h3>Success!!
                        <br> <%= guess %> is the correct number!</h3>
                        <br>
                        <a href="/reset" class="btn btn-default">Play Again?</a>
                    </div>
                <% } %>
            <div class="col-md-4"></div>
        </div>
    </div>
</body>
</html>